* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

#top {
    background: #1b2036;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.home__menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.home__menu li {
    line-height: 60px;
    list-style: none;
}

.home__menu li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.home__menu li a:hover {
    color: red;
}