* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

.home {
    background: #1b2036;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.home__menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.home__menu ul {
    line-height: 60px;
}

.home__menu--one {
    color: #fff;
    font-size: 28px;
}

.home__menu--two li {
    list-style: none;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.home__menu--two li a {
    text-decoration: none;
    color: #68c6e3;
    font-size: 16px;
}

.main {
    background: #141728;
    position: relative;
    margin-top: 60px;
}

.main__container {
    width: 80%;
    margin: 0 auto;
}

.main__container ul {
    color: #67c5e2;
    padding: 60px 0 20px;
    font-size: 22px;
}

.main__container p {
    color: #67c5e2;
    padding: 10px 0 20px;
    font-size: 20px;
    letter-spacing: 0.8px;
}

.main__container--nav {
    display: flex;
    flex-wrap: wrap;
}

.main__container--nav-one {
    width: 23.5%;
    margin: 0 8px;
}

.main__container--nav-one img {
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s;
}

.main__container--nav-one img:hover {
    transform: scale(1.04);
}

h1 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin: 10px 0;
}

.main__container--nav-one p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

h2 {
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    margin: 12px 0;
}

.main__slider--content {
    width: 80%;
    padding: 20px 0 20px 0;
    margin: 0 auto;
    text-align: center;
}

.main__slider--content ul li {
    display: inline-block;
    list-style: none;
    color: #fff;
    padding: 6px 12px;
}

.main__slider--content ul li i {
    font-size: 10px;
}

.main__slider--content ul li:hover {
    cursor: pointer;
    background: black;
}

.main__contact {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.main__contact--one {
    border-bottom: 2px solid #fff;
}

.main__service {
    width: 80%;
    margin: 0 auto;
}

h3 {
    color: #68c6e3;
    font-size: 28px;
    font-weight: 400;
    margin: 10px 0 20px;
    text-align: center;
}

.main__service--two {
    text-align: center;
}

.main__service--three {
    text-align: center;
    padding-bottom: 60px;
}

h4 {
    color: #fff;
    margin: 30px 0 10px;
    font-size: 18px;
}

.main__service--three span {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.6px;
}

.main__service--three p {
    color: #fff;
    margin: 22px 0 4px;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.main__service--three strong {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.6px;
}

.footer {
    background: #141728;
}

.footer__band {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 20px;
}

h5 {
    color: #68c6e3;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.8px;
    padding-bottom: 12px;
}

.footer__band--one {
    width: 33.33333%;
}

.footer__ban--one-one {
    margin: 0 8px;
}

.footer__ban--one-one p {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 1.5;
}

.footer__ban--one-two {
    margin: 0 8px;
}

.footer__ban--one-two p {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.footer__ban--one-two img {
    width: 37%;
}

.footer__ban--one-three {
    margin-right: 8px;
}

.footer__ban--one-three p {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 1.5;
}

.footer__ban--one-three p a {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.footer__ban--one-three span {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 1.5;
}

.footer__ban--one-three div {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 1.5;
}