/*PC*/

@media (min-width: 64em) {
    .services__row {
        display: flex;
    }
}


/* PC && Table */

@media (min-width: 46.25em) {
    .header__navbar {
        display: flex;
        justify-content: space-between;
        line-height: 72px;
    }
    .mobile-menu-btn {
        display: none;
    }
}


/*Table && Mobile*/

@media (max-width: 63.9375em) {}


/*Table*/

@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #header {
        margin: 0 auto;
        width: 90%;
    }
    .container__text-hero1 {
        color: #777777;
        font-size: 22px;
        letter-spacing: 0.2px;
        font-weight: 400;
    }
    .container__text-hero2 {
        color: #777777;
        font-size: 22px;
        margin-top: 8px;
        letter-spacing: 0.2px;
        font-weight: 400;
    }
    .team__container {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .team__content--content-row {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    .row {
        width: 45%;
    }
    .row__member--one img {
        max-width: 100%;
        margin: 0 auto;
    }
    .services__row-min {
        width: 100% !important;
    }
    .content__aboutus {
        margin: 0 15px;
    }
    .content__aboutus--row-area2 {
        padding: 0 0 0 32px;
    }
    .content__aboutus--row-area2 h6 {
        margin: 20px 0 10px;
    }
    .p1,
    .p2 {
        padding: 0;
    }
    .rowdataTxt {
        flex-wrap: wrap;
    }
    .rowdataTxt__member {
        width: 45%;
    }
    .work__container2 {
        margin: 0 5px;
    }
    .product .itemBox {
        height: 135px;
    }
    .plans__container {
        width: 91%;
    }
    .plans__container--row {
        flex-wrap: wrap;
    }
    .plans__container--row-plan {
        width: 100%;
    }
    .parex__container--band-one {
        padding: 0;
        margin-left: 0;
        width: 100%;
    }
    .footer__container {
        width: 90%;
    }
    .footer__container--row {
        flex-wrap: wrap;
    }
    .footer__container--row-four {
        padding: 0;
        width: 100%;
    }
}


/*Mobile*/

@media (max-width: 46.1875em) {
    .app {
        overflow: hidden;
    }
    #main {
        overflow: hidden;
        background: rgba(5, 5, 5, 1);
    }
    #header {
        width: 93%;
    }
    .header__navbar-header li {
        margin: 20px 0 30px;
    }
    .header__navbar-nav li {
        display: block;
        line-height: 42px;
    }
    .header__navbar-nav li a {
        padding: 6px 50px;
    }
    .slider__text-content {
        margin: 0 0 13px;
    }
    .slider__text-content--text-heading {
        font-size: 21px;
    }
    .slider__text-content--text-description {
        font-size: 21px;
        text-shadow: 0 0 1px #000;
    }
    a .slider__text-content--text-icon {
        display: none;
    }
    .slider {
        padding-top: 45%;
    }
    .container {
        padding: 60px 10px;
    }
    .container__text-hero1,
    .container__text-hero2 {
        font-size: 24px;
        line-height: 30px;
    }
    .services__row {
        width: 92%;
        padding: 35px 0;
    }
    .services__row-min {
        width: 100%;
    }
    .services__row-min p {
        font-size: 14px;
        padding: 0 0 10px;
        line-height: 22px;
        letter-spacing: 0.2px;
    }
    .content__aboutus {
        margin: 0;
    }
    .content__aboutus--heading p {
        font-size: 17px;
        line-height: 27px;
        font-weight: 400;
    }
    .content__aboutus--row {
        flex-wrap: wrap;
    }
    .content__aboutus--row-area1 img {
        padding-left: 50px;
    }
    .content__aboutus--row-area1 {
        padding: 0 104px 0 20px;
    }
    .content__aboutus--row-area2 {
        padding: 0 0 0 40px;
    }
    .content__aboutus--row-area2 h6 {
        margin: 50px 0 15px;
    }
    .btn {
        padding: 8px 0px;
    }
    .rowdataTxt {
        flex-wrap: wrap;
    }
    .rowdataTxt__member {
        margin: 15px 15px;
        width: 100%;
    }
    .work__container2 {
        margin: 0;
    }
    .work__container2--heading p {
        font-size: 14px;
        margin: 0 0 40px;
        letter-spacing: 1.5px;
        line-height: 18px;
    }
    .product .itemBox {
        height: 150px;
        width: 50%;
    }
    .plans__container {
        padding: 0 15px;
        width: 90%;
    }
    .plans__container--row {
        flex-wrap: wrap;
    }
    .plans__container--heading p {
        font-size: 14px;
        line-height: 20px;
    }
    .plans__container--row-plan {
        width: 100%;
    }
    .team__container {
        width: 92%;
        padding: 0 15px;
    }
    .team__container--heading p {
        font-size: 14px;
        line-height: 20px;
    }
    .team__content--content-row {
        flex-wrap: wrap;
    }
    .row {
        width: 40%;
    }
    .row__social {
        margin: 15px 30px;
    }
    .row__member--one img {
        max-width: 158px;
    }
    .parex__container {
        width: 92%;
    }
    .parex__container--row {
        padding: 3px 0px 15px;
    }
    .parex__container--row-heading {
        padding: 3px 0px 15px;
    }
    .parex__container--row-heading p {
        font-size: 17px;
        letter-spacing: 1.9px;
        line-height: 25px;
    }
    .parex__container--band-one {
        margin-left: 0;
        width: 90%;
    }
    .footer__container {
        width: 92%;
    }
    .footer__container--row {
        margin: 0;
        flex-wrap: wrap;
    }
    .footer__container--row-four {
        padding: 0;
        width: 100%;
    }
    .copyright__container {
        width: 92%;
    }
    .col1 {
        padding: 0px 20px 0 0;
    }
    .topHome {
        right: 15px;
        font-size: 14.6px;
        bottom: 22px;
    }
}